/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@media screen and (min-width: 450px) {
    .contenedor {

        top: 103px;
        bottom: 103px;

        height: 694px;
        width: 409px;

        border-radius: 8px;
        border-radius: 8px;
    }

    .contenedor .col {
        display: flex;
        justify-content: center;
        width: 409px;
    }

    .fila2 {
        top: 103px;
        background-size: 70%;
        height: 30%;
        border-radius: 8px;
        width: 409px;
    }

    .fila3 {

        height: 25px;
        width: 409px;
    }

    .span1 {
        width: 44px;
        height: 14px;
    }

    .span2 {
        width: 95px;
        height: 14px;



        text-align: right;
    }

    .filalogo {
        width: 409px;
        height: 30px;
        margin-top: 35px;
        padding-left: 10px;
    }


    .filaLoguin {
        height: 30px;
        width: 409px;

        margin-top: 53px;
    }

    .span3 {
        width: 72px;
        height: 30px;
        font-size: 25px;
        line-height: 30px;
    }

    .span4 {
        height: 20px;
        font-size: 13px;
        margin-top: 5px;
    }
}

@font-face {
    font-family: Nexa-XBold;
    src: url("../fonts/Nexa/Nexa_V1_2012/Nexa\ Bold.otf");
}

@font-face {
    font-family: Nexa-Bold;
    /* src: url("../fonts/Nexa/Nexa_V1_2012/Nexa\ Light.otf"); */
    src: url("../fonts/Nexa/Nexa_V1_2012/Nexa\ Light.otf");
}

@font-face {
    font-family: Lato-Regular;
    /* src: url("../fonts/Lato-Regular.ttf"); */
    src: url("../fonts/Lato-Regular.ttf");
}


#authentication {
    background-color: #FA2398;
    background-image: linear-gradient(180deg, #FA2398 0%, #DD1F94 100%) no-repeat center center;
    background-size: auto;
}

#authentication #wrapper {
    background-color: #FA2398;
    background-image: linear-gradient(180deg, #FA2398 0%, #DD1F94 100%) no-repeat center center;
    background-size: auto;
}

/* .contenedor {
    position: relative;

    background: #FFFFFF;
    box-shadow: 0 17px 26px 0 rgba(26, 27, 28, 0.10);
} */
.all {
    display: flex;
    justify-content: center;
}

.contenedor {
    /* display: flex;
    justify-content: center; */
    position: relative;

    background: #FFFFFF;
    box-shadow: 0 17px 26px 0 rgba(26, 27, 28, 0.10);
}

.contenedor .col {
    display: flex;
    flex-direction: column;
}

.fila2 {
    background-image: url(../img/Light-Cover-Pattern-bg@2x.png);
    /* display: flex;
    justify-content: center; */
}

.fila3 {
    display: flex;
    justify-content: space-around;
}


#img1 {
    border: none;
    height: 24px;
    width: 24px;
    background-image: url(../img/go-back.svg);
    /* background-image: url(../img/go-back.svg); */
    /* margin-bottom: 5px; */


}

.c1 {
    text-align: left;
}

.span1 {
    display: inline;

    font-family: Nexa-XBold;
    font-size: 14px;
    color: #3B3B3B;
    text-align: center;
    line-height: 12px;
}

.c {
    text-align: right;
}

.span2 {
    display: inline-block;
    letter-spacing: 1px;

    /* width:  95px;
    height: 14px; */


    font-family: Nexa-XBold;
    font-size: 12px;
    color: #3B3B3B;
    text-align: center;
    line-height: 13px;

    text-decoration: underline #3B3B3B;
}

#img2 {
    border: none;
    background-image: url(../img/User-plus.svg);
    /* background-image: url(../img/User-plus.svg); */
    height: 24px;
    width: 24px;
}



.span3 {
    display: inline-block;



    font-family: Nexa-XBold;
    /* font-size: 25px; */
    color: #1A1B1C;
    letter-spacing: 1px;
    text-align: center;
    /* line-height: 30px; */
}

.filaA {
    height: 20px;
    display: flex;
    justify-content: center;
}

.span4 {
    display: inline-block;


    font-family: Lato-Regular;
    letter-spacing: 0.3px;
    color: #84868A;
    text-align: center;
    line-height: 20px;
}

.filalogo {
    display: flex;
    justify-content: center;
}

.filalogo img {
    border: none;
    background-image: url(../img/Nutritienda-simple_logo.svg);
}

.filaLoguin {
    display: flex;
    justify-content: center;
}

.span5 {
    display: inline-block;
    /* margin-right: 10px; */
    letter-spacing: 0.3px;
    font-family: Nexa-Bold;

    color: #3B3B3B;
    text-align: center;
    line-height: 12px;
}

.filaA2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    width: 33px;
    margin: 5px;
    background: #9EA0A4;
}

.hr2 {
    width: 43px;
    margin: 0px;
    background: #9EA0A4;
}

.icone img {
    width: 25px;
    height: 25px;
}

.filaA3 {
    display: flex;
    justify-content: center;
}

.fila5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filaF {
    height: 300px;
    /* width: 409px; */
}